/* title section */
#title {
  background-color: #3edbf0;
}

#title .container-fluid {
  padding: 2% 5% 5%;
}

.title_text {
  font-size: 6rem;
  margin: 0px;
  color: #fff;
  font-family: 'Cardo', serif;
  letter-spacing: 1.6px;
}

.title_subtext {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 2px;
}

.family_pic1 {
  margin-right: 10px;
  width: 100%;
}

/* navigation bar */
.navbar {
  margin: 0px 0px 50px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: "Ubuntu";
  font-weight: bolder;
}

.navbar-item {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 18px;
}

/* features section */
.features_row_1 {
  padding: 3% 8% 0%;
  color: grey;
}

.features_row_2 {
  padding: 1% 8% 1%;
  color: grey;
}

.single_feat {
  padding: 5px;
}

.feature_start_text {
  font-size: 4.5rem;
  padding: 3.5rem 0 1.5rem;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.feature-img {
  width: 100%;
  height: 44%;
}

.feature-title {
  padding: 15px 0px 20px;
  font-family: 'Josefin Sans', sans-serif;
  spacing: 1px;
}

.feature-title:hover {
  color: #4b778d;
}

.feature-body {
  font-family: 'Josefin Sans', sans-serif;
}

.container-fluid {
  padding: 6% 5%;
}

/* testimonial section */
.testimonial-section {
  text-align: center;
  background-color: #77acf1;
}

.testimonial-image {
  width: 20%;
  border-radius: 50%;
  padding: 50px 10px;
}

.testimonial-text {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  padding: 50px 100px;
}

.testimonial-section .container-fluid {
  padding: 3% 15% 1%;
}

/* pricing_section */
#pricing .container-fluid {
  text-align: center;
  padding: 3% 5%;
}

.pricing-heading {
  font-family: 'Cardo', serif;
  margin: 20px;
}

.card-head {
  color: grey;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  text-align: left;
}

.card-body {
  color: grey;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

.card_img {
  width: 100%;
  height: 44%;
  margin: 20px 0px;
}

/* contact me section */
#cta {
  background-color: #3edbf0;
  padding: 5% 20% 5%;
  text-align: center;
}

.contact-me-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.6rem;
}

.contact-me-tags {
  margin: 10px 5px 5px;
}

@media (max-width: 980px) {
  .testimonial-image {
    width: 30%;
    border-radius: 50%;
    padding: 50px 10px;
  }

  #title {
    text-align: center;
  }

  .card-head,.card-body {
    text-align: center;
  }

  .card_img {
    width: 100%;
    height: 24%;
    margin: 20px 0px;
  }

  .family_pic1 {
    margin: 20px 10px;
    width: 80%;
  }

  #cta
  {
    margin: 20px 0px 0px;
  }
  .total_col
  {
    height: 15%;
    margin-bottom: 30px;
  }

  #special-features .container-fluid
  {
    padding: 3% 15%;
    margin-bottom: 30px;
  }

  #pricing .container-fluid {
    text-align: center;
    padding: 3% 15%;
  }

}
